#div1{
    width: 1200px; height: 1200px;
    background-image: url(비스크.jPG);
    border: solid 1px black;
    background-repeat: no-repeat;
    background-size: 1200px 1200px;
    background-position: 300px 200px;
    /* background: url(reze.png) no-repeat 200px 200px / 100px 100px; */

}
#div1:hover{
    
    background-image: url(reze1.png)
    ;color: azure;
    
}

#div1 div{font-size: 100px;width: 1000px;height: 1000px;}