#nav{width: 700px; background-color: rgb(86, 140, 186);}
#nav > ul { background-color: aqua; padding: 0;list-style: none; display: flex;
            flex-wrap: wrap; height: 100px;align-items: center;
            /* flex-direction: row; */
            justify-content:space-around;
        }
#nav > ul > li {border: 1px solid;width: 100px;
                /* padding: 10px; */
                height: 50px;   
                line-height: 50px;  text-align: center;
            }
a{
    text-decoration: none;color: black;
    &:hover{border-bottom: 3px solid olive;
    
    padding-bottom: 1px;
    transition: 0.25s;
}
}