#login > form{
  background-color: cadetblue;
  text-align: center;
  width: 270px;
  margin: auto;
}

#login > form > input{
  color: gray;
  font-size: 20px;
  margin-top: 30px;
  border: none;
  outline: none;
  border-bottom: 2px solid lightgray;
  letter-spacing: 3px;
  width: 100%;
}

#login > form > input:focus{
  border-bottom: 2px solid red;
}

#login > form > button{
  margin-top: 20px;
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  background-color: gray;
}

#login > form > button:hover{
  background-color: antiquewhite;
  box-shadow: 0 0 10px black;
}

#login{
  width: 360px;
  height: 230px;
  border-radius: 10px;
  border: 1px solid black;
}

#login > .title{
  background-color: rgb(230, 196, 196);
  text-align: center;
  letter-spacing: 5px;
  font-size: 25px;
  border-bottom: 3px dotted olive;
  width: 220px;
  margin: auto;
  padding: 10px 0;
  color: chocolate;
}

#div1{
  width:100px;
  height:100px;
  background-color: bisque;
  color: burlywood;
  font-size: 20px;
  text-shadow: -5px 5px 0px black;
  box-shadow: 5px 5px 10px red;
}

#div1:active{
  color: aqua;
}

#img{
  width: 100px;
  height: 100px;
}

#img:hover{
  box-shadow: 1px 1px 10px black;
}
