#div1,#div2,#div3{
    width: 200px;height: 200px;
    background-image: url(reze1.png);
    background-size: cover;
}
#div1{
    margin: 200px;rotate: 5deg;
}
#div2{
    margin-top: -300px;
    transform: rotate(-5deg);
    margin-left: 300px;
    transition: 1s;
}
#div2:hover{ transform: rotate(360deg);}

#div3{
    margin: 100px;
    &:hover{
        transform: scale(2);
        transition: 0.5s;
    }
}
#div4,#div5{width: 150px;height: 150px;
            background-color: beige;border: 1px solid rebeccapurple;
            margin-left: 200px; overflow: hidden;
        &img{width: 150px;height: 150px;}}
#div4 img:hover{width: 180px;height: 180px;}
#div5 img:hover{transform: scale(1.8);}
#div6,#div7{
    width: 150px;height: 150px;background-color: green;
    transition: 3s
}
#div6:hover{margin-left: 400px;}
#div7:hover{transform:translatex(400px);}
#div8{width: 150px;height: 150px;
    background-color: gold;,transition: 3s;
&:hover{
    transform: translatex(400px) rotate(300deg);}}