*{margin:  0; padding: 0;box-sizing:border-box ;}
#header_wrap{width: 100%;background-color: chocolate;position: fixed;top: 0;}
#header{
    width: 700px;height: 100px;
    display: flex; margin: 0 auto;
}
#title_logo{
    width: 100px;
    border-radius: 100px;
background-image:url(reze1.png);
background-size: auto;}
#title_logo >div{color: antiquewhite;margin-top: 25px; animation: title 0.8s infinite;text-align: center;}
@keyframes title{20%{color: lightblue;}
                50%{ color:lightcoral;}
                75%{ color:lightsalmon }}
    #nav{display: flex;justify-content: space-between;
    width: 600px;background-color: chocolate;}
#nav ul{list-style: none;
display: flex;align-items: center;}
#nav ul li{margin: 0 10px;}
#nav ul li a{
    text-decoration: none;color: aliceblue;font-size: 20px;
    & :hover{color: aqua;border-bottom: 2px solid sandybrown;}
padding-bottom: 0px;transition:0.25s;}
#nav ul:nth-last-of-type(2)a{font-size: 13px;color: azure;}
#main{width: 700px;margin: 100px auto;
    }
#section_1{display: flex;
flex-wrap: wrap;}
#section_1>div{width: 200px;
                border: 1px solid;border-radius: 5px;
                width: 152.5px;height: 200px;
                margin-top: 20px;margin-right: 30px;
                & :nth-of-type(4n){margin-right:0px;}
            }
#section_1>div:nth-of-type(1) .img{width: 130px;height: 150px;
    background-image:url(reze1.png);
border-color: antiquewhite;
background-size: cover;
background-repeat: no-repeat;
border-radius: 5px;
margin: 0 auto ;}
#srr{font-size: 50px
    ;position: absolute;top: 200px;left: -20%;opacity: 0;animation: srr 2s;
animation-fill-mode: forwards;}
@keyframes srr{
    25%{color: aqua;opacity: 0.25;}
    50%{color:cornsilk;opacity: 0.5;}
    75%{color: gold;opacity: 0.75;}
    100%{color:green ;opacity: 0.1;left:  50%;}
}
#section_2{margin-top: 20px;}
#section_2 ul{list-style: none;display: flex;flex-wrap: wrap;}
#section_2 ul a{text-decoration: none;color: blue;
&:hover{color: blue;border-bottom: 2px dotted;
padding-bottom: 4px;}
}
#section_2 ul li{
    width: 140px;height: 140px;border: 1px solid;background-image: url(reze1.png)
    ;background-size:cover;
    &:hover{background-color: aqua;background-image: url();}
}
.list{text-align: center;margin-top: 50px;display: none;}