#header{
  width: 1400px;
  border: 1px solid;
  background-color:  darkolivegreen;
  display: flex;
  align-items: center;
}

#logo{
  width: 260px;
  height: 260px;
  border-radius: 50%;
  overflow: hidden;
}

#logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
#nav a.LOGIN,#nav a.REGISTER{color: black;font-size: 20px;}
#nav ul{
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 1;
  padding: 0;
  list-style: none;
}

#nav a{
  display: block;
  padding: 10px 14px;
  text-decoration: none;
  text-align: center;
  position: relative;
  color: rgb(242, 234, 234);
  font-size: 25px;
  font-weight: 500;
}

#nav a::after{
  content:"";
  position:absolute;
  left:0;
  bottom:0;
  width:0;
  height:3px;
  background: chocolate;
  transition: width .2s ease;
  
}
#nav a:hover{
  color: chocolate;           
}
#nav a:hover::after{
  width:100%;
  
}
