#wrap{width: 500px ;}
#logo{width: 100px;height: 100px;border-radius: 100px;overflow: hidden;}
#logo > img {width: 100px;height: 100px;
&:hover{ transform: scale(1.1);
transition: all 0.3s}}
.item
{    width: 100px;height: 200px;border: 2px solid gray;
border-radius: 10px;overflow: hidden;
}
.item div:nth-of-type(1){width: 100px;height: 100px;background-color: antiquewhite;   
    overflow: hidden;}

.item img{
    width: 100px;height: 100px;
&:hover{ transform: scale(1.1);
transition: all 0.3s}}

.item :nth-of-type(2){
    height: 70px; 
}
.item :nth-of-type(2) > a {
    color: black;
    text-decoration: none;
    &:hover{color: red;}
}
.item :nth-of-type(3) {
text-align: right;color: blue;}

#logo ~ button {
    background-color: black;
border-radius: 20px;
color: white;
border: none;
&:hover{
    background-color: aquamarine;
}}