#wrab{background-color: sandybrown; width: 400px;margin: 0 auto;}

#wrab > :nth-of-type(1) {background-color: aqua;}

#wrab > :nth-of-type(2) {
    display: flex;
    height: 100px;background-color: antiquewhite;
& > :nth-of-type(1) {width: 30%;background-color: black;}
& > :nth-of-type(2){width: 70%;background-color: lawngreen;}

}

#wrab2 > :nth-of-type(3) {background-color: blue;}
#wrab2{background-color: sandybrown; width: 400px;margin: 0 auto;}

#wrab2 > :nth-of-type(1) {background-color: aqua;}

#wrab2 > :nth-of-type(2) {
    display: flex;
    height: 100px;background-color: antiquewhite;
& > :nth-of-type(1) {width: 10%;background-color: black;}
& > :nth-of-type(2){width: 80%;background-color: lawngreen;}
& > :nth-of-type(3){width: 10%;background-color: green;}
}

#wrab3 {
  background-color: sandybrown;
  width: 400px;
  margin: 0 auto;
}

#header {
  background-color: aqua;
  height: 50px;
}

#main {
  background-color: rgb(59, 95, 95);
  height: 200px;
  display: flex;
}

#list {
  background-color: black;
  width: 10%;
}

#section {
  background-color: aqua;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section > div { 
  width: 70%;
  margin: auto;
  & div{border: 2px solid; margin-top: 5px ;background-color: antiquewhite;}
}

#side {
  background-color: brown;
  width: 10%;
}

#footer {
  background-color: blue;
  height: 50px;
}
