#nav{display: flex;width: 800px;  gap: 50px;}
.img1{width: 150px;height: 150px;
    border: 1px solid;
    border-radius: 150px;
    overflow: hidden;
    position: relative;}
.img1 img{width: 100%;height: 100%;
object-fit: cover;
display: block;
}
.img1:hover{transform:scale(1.5) rotate(360deg);transition: 3s;}
.img1 >.reze{position: absolute;
                left: 50%;
                top: 50%;
            transform: translate(-50%, -50%);
            color: white;font-weight: 100;
        pointer-events: none;}

.card{
  position: relative;
  width: 150px;
  height: 150px;
  }

.img2{
  width: 150px;
  height: 150px;
  border: 1px solid;
  border-radius: 50%;
  overflow: hidden;     
}

.img2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.reze2{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateY(-120px);
  opacity: 0;
  pointer-events: none;
  transition: transform .5s ease, opacity .5s ease;
}

.card:hover .reze2{
  transform: translate(-50%, -50%) translateY(140px);
  opacity: 1;
}
