.card-row{
  display: flex;
  gap: 30px;
  width: 1200px;
  height: 300px;
   border: solid 2px;
}

.card{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.label{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px 10px;
  background: none;
  color: #fff;
  border-radius: 10px;
  transition: background 0.2s ease;
  width: auto;
  height: auto;
  font-size: 50px;
  border: solid 5px gray;


}

.card:hover .label{
    border: rgba(red, green, blue, alpha);
  background: rgba(85, 223, 216, 0.9);
}
